body {
  background: black;
  text-align: center;
  font-family: sans-serif;
}

h1{
  color: white;
  font-size: 65px;
  text-align: center;
  font-family: sans-serif;
}

h2{
  color: white;
  text-align: center;
  font-size: 50px;
  font-family: sans-serif;
}
